[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true

[user]
	name = Martin Faartoft
	email = martin.faartoft@maersk.com

[core]
	fileMode = false
	autocrlf = true

[push]
	default = simple

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    p  = pull

    #delete branch both locally and remotely
    nuke = !sh -c 'git branch -D $1 && git push origin --delete $1' -
    
    #return name of current branch, enables below alias
    branch-name = "!git rev-parse --abbrev-ref HEAD"

    #push current branch to origin with same name
    publish = "!git push -u origin $(git branch-name)"

[credential]
	helper = manager