<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="googlechrome" />
  
  <!-- Utilities -->
  <package id="f.lux" />
  <package id="keepass.install" />
  <package id="dropbox" />
  <package id="7zip.install" />
  <package id="qbittorrent" />
  <package id="autohotkey.install" />
  <package id="skype" />
  <package id="everything" />
  
  <!-- Media -->
  <package id="paint.net" />

  <package id="spotify" />
  <package id="vlc" />

  <!-- Development -->
  <package id="VisualStudioCode" packageParameters="/NoDesktopIcon /NoQuicklaunchIcon" installArguments="/DIR=C:\dev\vs-code" />
  <package id="nodejs.install" installArguments="/TARGETDIR=C:\dev\nodejs"/>
</packages>