<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Browsers -->
  <package id="googlechrome" />
  <package id="firefox" />

  <!-- Utilities -->
  <package id="dropbox" />
  <package id="slack" />
  <package id="office365business" />
  <package id="microsoft-teams" />

  <!-- Development -->
  <package id="nodejs.install" />
  <package id="vscode" />
  <package id="vscode-csharp" />
  <package id="vscode-gitlens" />
  <package id="vscode-editorconfig" />
  <package id="nodejs.install" />
  <package id="azure-cli" />
  <package id="kubernetes-cli" />
  <package id="docker-desktop" />
  <package id="nuget.commandline" />
  <package id="dotnetcore-sdk" installArguments="pre" /> <!-- we want the 3.0 pre-release for now -->
  <package id="terraform" version="0.12.6" /> <!-- should match what we use in ADO pipelines -->
  <package id="postman" />
  <package id="git.install" />
  <package id="microsoftazurestorageexplorer" />

  <!-- no package but also needed: 
    - Azure Data Studio
    - Visual Studio 2019
    -->
</packages>